<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.sagernet.sing-box</string>

    <key>ProgramArguments</key>
    <array>
      <string>/opt/homebrew/bin/sing-box</string>
      <string>run</string>
      <string>--config</string>
      <string>/opt/homebrew/etc/sing-box/config.json</string>
      <string>-C</string>
      <string>/opt/homebrew/etc/sing-box/config.d</string>
      <string>-D</string>
      <string>/opt/homebrew/var/lib/sing-box/</string>
    </array>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>

    <key>StandardOutPath</key>
    <string>/opt/homebrew/var/log/sing-box/stdout.log</string>

    <key>StandardErrorPath</key>
    <string>/opt/homebrew/var/log/sing-box/stderr.log</string>

    <key>WorkingDirectory</key>
    <string>/opt/homebrew/var/lib/sing-box</string>

    <key>EnvironmentVariables</key>
    <dict>
      <key>PATH</key>
      <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>
  </dict>
</plist>
